button{
    cursor: pointer;
}
.deactivate {
    width: 318px;
    height: 48px;
    padding: 14px 20px 10px 20px;
    border-radius: 5px;
    background-color: #EEEEEE;
    color: gray;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: none;
    font-weight: 500;
    size: 13px;
}

.activate {
    width: 318px;
    height: 48px;
    padding: 14px 20px 10px 20px;
    border-radius: 5px;
    background-color: #FF6B8F;
    color: white;
    border: none;
    font-weight: 500;
    size: 13px;
}

.default {
    width: 318px;
    height: 48px;
    padding: 14px 20px 10px 20px;
    border-radius: 5px;
    border: 0.6px solid #FF6B8F;
    background-color: #FFF3F6;
    color: #FF6B8F;
    font-weight: 500;
    size: 13px;
}

.default2 {
    width: 318px;
    height: 48px;
    padding: 14px 20px 10px 20px;
    background-color: #FFFFFF;
    border: 0.6px solid #9E9E9E;
    border-radius: 5px;
    color: black;
    font-weight: 500;
    size: 13px;
}
.default2 :hover{
    color: white;
}