//comon
.background{
  position:relative;
  z-index:999;
  height:100vh;
  width:100vw;
  display:flex;
  justify-content:center;
  align-items:center;
  text-align:center;
  background-color:#06060676; 
};
.modal-inner{
  position:relative;
  background-color:#ffff;
  width: 70vw;
  min-height: 80px;
  border-radius:15px;
  padding:12px;
  box-sizing:border-box;
}
.alert-modal{
  position: relative;
  button{
    position: absolute;
    right:7px;
    top:7px;
    height: 1rem;
  }
  .content{
    margin-top: 1rem;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    text-align: center;
  }
}